@# PORT
PORT=3009
# DATABASE
DB_HOST=
DB_PORT=
DB_USER=root
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=true
# TOKEN
SECRET_KEY=
# LOG
LOG_FORMAT=dev
LOG_DIR=./logs
# CORS
ORIGIN=*
CREDENTIALS=true
# NODEMAILER
MAIL_HOST=
MAIL_PORT=
MAIL_FROM=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=
MAIL_BCC=
MAIL_CC=
# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_S3_URL=
AWS_REGION=
# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USE_PASSWORD=
REDIS_PASSWORD=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=

# Drive 
DRIVE_FOLDER_ID